build/
bin/
lib/
*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.so
*.pdb
*.ilk
*.exp
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
docs/node_modules/
vendor/SDL2/
vendor/SDL3/lib/
vendor/GLAD/lib/
.vscode/
*.user
*.suo
*.cache
